/*#region Generellt*/

@font-face{
    font-family: dekiru;
    src: url("../fonts/Dekiru.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: dekiru;
    font-weight: bold;
}

h2{
    font-family: dekiru;
    font-weight: bold;
}

h3{
    font-family: dekiru;
    font-weight: bold;
}

figcaption{
    font-family: dekiru;
    font-weight: bold;
}

body{
    background: black;
}

nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 10vh;
}

nav::before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(20%);
    background-image: url("../img/bamboo.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#nav_links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background: rgba(0,0,0, 0.9);
    position: absolute;
    height: 90vh; /*TODO: Sätt nav till 10vh i alla wrappers*/
    width: 100%;
    top: -90vh;
    transition: all 0.5s;
    align-items: center;
    font-family: dekiru;
    font-weight: bold;
}

.nav-active{
    transform: translateY(100vh);
    backdrop-filter: blur(2px);
}

#nav_links li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav_links li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.nav_link_underline{
    background: white;
    height: 2px;
    width: 5rem;
}

#hamburger_menu{
    cursor: pointer;
    width: 40px;
}

#hamburger_menu div{
    width: 25px; /*Borde ha höjd och bredd i procent*/
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.5s;
}

.burger-toggle #hamburger_line2{
    opacity: 0;
}

.burger-toggle #hamburger_line1{
    transform: translateY(8px) rotate(-45deg);
}

.burger-toggle #hamburger_line3{
    transform: translateY(-8px) rotate(45deg);
}

#logo{
    height: 4.5rem;
    width: 4.5rem;
    margin: 1rem;
}

.main_header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.main_header h2{ /*Bra med h2 här?*/
    margin-right: 1rem;
}

/*#endregion Generellt*/



/*#region Hem*/

#hem_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, 10vh) 80vh 10vh 40vh 40vh;
    grid-template-areas: 
    "nav nav"
    "he1 he1"
    "he2 he2"
    "ar1 ar2"
    "ar3 ar3"
    ;
}

#hem_wrapper a{
    text-decoration: none;
}

#hem_main_header{
    grid-area: he1;
    display: flex;
    position: relative;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 90%,
      rgb(0,0,0) 100%
    );
}

#hem_main_header::before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(60%);
    background-image: url("../img/mount_fuji.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

#hem_main_header_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 7%;
}

#hem_main_header_title div{
    width: 14rem;
    height: 2px;
    margin-top: 0.2rem;
    background: white;
}

#hem_main_header_title h1{
    color: white;
}

#hem_subheader{
    grid-area: he2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

#hem_subheader::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url("../img/wood.jpg");
    filter: brightness(30%);
    background-size: cover;
}

.hem_background_image{
    position: relative;
    overflow: hidden;
}

.hem_background_image::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    filter: brightness(60%);
    background-size: cover;
    background-position: center;
}

#hem_food{
    grid-area: ar1;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 70%,
      rgb(0,0,0) 100%
    );
    overflow: hidden;
}

#hem_food::before{
    background-image: url("../img/udon.jpg");
    transition: all 1s;
}

#hem_food:hover::before{
    transform: scale(1.1);
}

#hem_food article{
    display: flex;
    align-items: end;
    height: 100%;
}

#hem_history{
    grid-area: ar2;
    margin-left: 1px;
    margin-right: 1px;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 70%,
      rgb(0,0,0) 100%
    );
    overflow: hidden;
}

#hem_history::before
{
    background-image: url("../img/Minamoto_no_Yoritomo.jpg");
    transition: all 1s;
}

#hem_history:hover::before{
    transform: scale(1.1);
}

#hem_history article{
    display: flex;
    align-items: end;
    height: 100%;
}

#hem_seasons{
    grid-area: ar3;
    overflow: hidden;
}

#hem_seasons article figure::before{
    transition: all 1s;
}

#hem_seasons:hover article figure::before{
    transform: scale(1.1);
}

#hem_seasons article{
    height: 100%;
}

#hem_seasons article figure img{
    height: 100%;
    width: 100%;
}

#hem_seasons:hover article figure figcaption{
    transform: translateY(-1rem);
}

#hem_spring{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 70%,
      rgb(0,0,0) 100%
    );
}

#hem_spring::before{
    background-image: url("../img/sakura1.jpg");
}

.hem_delsid_rubrik{
    margin: 1rem;
    transition: all 0.5s;
    color: white;
    font-size: 1.5rem;
}

.hem_hover_rubrik:hover h3{
    transform: translateY(-1rem);
}

#hem_summer{
    display: none;
}

#hem_summer::before{
    background-image: url("../img/solros.jpg");
}

#hem_autumn{
    display: none;
}

#hem_autumn::before{
    background-image: url("../img/autumn.jpg");
}

#hem_winter{
    display: none;
}

#hem_winter::before{
    background-image: url("../img/winter.jpg");
}



/*#endregion Hem*/


/* how to make gradient:
background-image: linear-gradient(
      rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.0) 70%,
      rgb(0, 0, 0, 0.5) 100%
    );
*/


/*#region Mat*/

#food_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(30px, 10vh) 90vh 240vh;
    grid-template-areas: 
    "nav nav"
    "fhe fhe"
    "sec sec"
    ;
    position: relative;
}

#food_wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(60%);
    background-image: url("../img/udon.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

#food_main_header{
    grid-area: fhe;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 90%,
      rgb(0,0,0, 0.85) 100%
    );
    color: white;
}

#food_section{
    grid-area: sec;
    background: rgb(0,0,0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#food_section header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
}

#food_section header h1{
    font-size: 2rem;
}

#food_section header div{
    background: white;
    width: 10rem;
    height: 2px;
}

.food_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    height: 80vh;
    overflow-y: auto;
    font-size: 1rem;
}

.food_article img{
    height: auto;
    width: 300px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.food_article section p{
    width: 320px;
    margin-bottom: 1rem;
}

.food_article section div{
    width: 4rem;
    height: 2px;
    background: white;
    margin-bottom: 0.5rem;
}

/*#endregion Mat*/



/*#region Historia*/

#history_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, 10vh) 90vh 10vh 45vh 45vh 90vh 45vh 45vh 90vh;
    grid-template-areas: 
    "nav nav"
    "mhe mhe"
    "hhe hhe"
    "fi1 fi1"
    "for for"
    "med fi2"
    "edo edo"
    "fi3 fi3"
    "fi4 imp"
    ;
    position: relative;
}

#history_wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(60%);
    background-image: url("../img/bakgrund_slott.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

#history_wrapper .main_header{
    grid-area: mhe;
    position: relative;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 90%,
      rgb(0,0,0) 100%
    );
    color: white;
}

#history_wrapper .main_header::before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(60%);
    background-image: url("../img/karta.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

#history_header{
    grid-area: hhe;
    background: lightyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.history_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background: rgb(0, 0, 0, 0.75);
    color: white;
}

.history_article div{
    height: 2px;
    width: 5rem;
    background: white;
    margin-bottom: 1rem;
}

.history_article p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
}

#forntid{
    grid-area: for;
    
}

#forntid_image{
    grid-area: fi1;
}

#medeltid{
    grid-area: med;
    
}

#medeltid_image{
    grid-area: fi2;
    background: lightgoldenrodyellow;
}

#medeltid_image img{
    width: 50vw;
    height: 90vh;
}

#edoperiod{
    grid-area: edo;
    
}

#edoperiod_image{
    grid-area: fi3;
    background: lightsalmon;
}

#edoperiod_image img{
    width: 100%;
    height: 45vh;
}

#imperisk_era{
    grid-area: imp;
    
}

#imperisk_era_image{
    grid-area: fi4;
    background: lightsteelblue;
}

#imperisk_era_image img{
    width: 100%;
    height: 90vh;
}

/*#endregion Historia*/



/*#region Årstider*/

#seasons_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(30px, 10vh) 90vh 365vh;
    grid-template-areas: 
    "nav nav"
    "she she"
    "sec sec"
    ;
}

#seasons_header{
    grid-area: she;
    background: lightblue;
    display: flex;
    flex-direction: column;
    position: relative;
}

#seasons_header_background {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "spr sum"
    "aut win"
    ;
}

#seasons_header_background img{
    height: 100%;
    width: 100%;
}

#seasons_spring_img{
    grid: spr;
}

#seasons_summer_img{
    grid: sum;
}

#seasons_autumn_img{
    grid: aut;
}

#seasons_winter_img{
    grid: win;
}

#seasons_header_title{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seasons_underline{
    height: 2px;
    width: 10rem;
    background: black;
}

#seasons_header_icon{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#seasons_section{
    grid-area: sec;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gainsboro;
}

#seasons_section_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: lightseagreen;
}

.seasons_article{
    height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
}

.seasons_article header{
    height: 45vh;
    display: flex;
    align-items: end;
    border-radius: 10px;
    margin-bottom: 1rem;
    background: lightcoral;
}

.seasons_article div{
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#spring{
    margin-top: 5vh;
}

#spring header div{
    background: lightgreen;
}

#summer header div{
    background: lightyellow;
}

#autumn header div{
    background: rgb(255,190,109)
}

#winter header div{
    background: white;
}

/*#endregion Årstider*/



@media screen and (min-width: 800px)
{
    /*#region Generellt*/

    body{
        max-width: 100%;
        overflow-x: hidden;
    }

    #nav_links{
        height: 10vh;
        transition: all 0s;
        top: 0;
        background: none;
        flex-direction: row;
    }

    .nav-active{
        transform: translateY(0);
    }

    #hamburger_menu{
        display: none;
    }

    /*#endregion Generellt*/

    /*#region Hem*/

    #hem_wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(30px, 10vh) 80vh 10vh 80vh;
        grid-template-areas: 
        "nav nav nav"
        "he1 he1 he1"
        "he2 he2 he2"
        "ar1 ar2 ar3"
        ;
        
    }

    #hem_seasons article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "sp su"
        "au wi"
        ;
        background-image: linear-gradient(
        rgba(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 70%,
      rgb(0,0,0) 100%
        );
    }

    #hem_spring{
        grid-area: sp;
        background-image: none;
    }

    #hem_spring figcaption{
        display: none;
    }
    
    #hem_summer{
        grid-area: su;    
        display: initial;   
        position: relative;
    }
    
    #hem_autumn{
        grid-area: au;     
        display: initial; 
        display: flex;
        align-items: end;  
    }
    
    #hem_winter{
        grid-area: wi;
        display: initial;
    }

    /*#endregion Hem*/

    /*#region Mat*/

    /*#endregion Mat*/

    /*#region Historia*/


    /*#endregion Historia*/

    /*#region Årstider*/

    #seasons_wrapper{
        grid-template-rows: minmax(30px, 10vh) 90vh 285vh;

    }

    #seasons_header_background {
        display: flex;
    }

    .seasons_article div{
        width: 25%;      
    }

    /*#endregion Årstider*/
}