/*#region Generellt*/

@font-face{
    font-family: dekiru;
    src: url("../fonts/Dekiru.ttf");
}

:root{
    --default_font_size: 1rem;
    --default_row_length: calc( var(--default_font_size) * 20 );
    --nav_height: 10vh;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: dekiru;
    font-weight: bold;
    font-size: calc( var(--default_font_size) * 1.618 * 1.618 * 1.618);
}

h2{
    font-family: dekiru;
    font-weight: bold;
    font-size: calc( var(--default_font_size) * 1.618 * 1.618);
}

h3{
    font-family: dekiru;
    font-weight: bold;
    font-size: calc( var(--default_font_size) * 1.618 );
}

figcaption{
    font-family: dekiru;
    font-weight: bold;
    font-size: calc( var(--default_font_size) * 1.618 );
}

p{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: black;
}

nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: var(--nav_height);
    min-height: 30px;
}

nav::before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(20%);
    background-image: url("../img/bamboo.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#nav_links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background: rgba(0,0,0, 0.9);
    position: absolute;
    height: 90vh;
    width: 100%;
    top: -90vh;
    transition: all 0.5s;
    align-items: center;
    font-family: dekiru;
    font-weight: bold;
    overflow: auto;
}

.nav-active{
    transform: translateY(100vh);
    backdrop-filter: blur(2px);
}

#nav_links li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav_links li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.nav_link_underline{
    background: white;
    height: 2px;
    width: 5rem;
}

#hamburger_menu{
    cursor: pointer;
    width: 40px;
}

#hamburger_menu div{
    width: 25px; /*Borde ha höjd och bredd i procent?*/
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.5s;
}

.burger-toggle #hamburger_line2{
    opacity: 0;
}

.burger-toggle #hamburger_line1{
    transform: translateY(8px) rotate(-45deg);
}

.burger-toggle #hamburger_line3{
    transform: translateY(-8px) rotate(45deg);
}

#logo{
    height: 4.5rem;
    width: 4.5rem;
    margin: 1rem;
}

.main_header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.main_header h2{
    margin-right: 1rem;
}

/*#endregion Generellt*/



/*#region Hem*/

#hem_wrapper{
    display: grid;
    grid-template-columns: minmax(calc(var(--default_row_length) / 2), 1fr) minmax(calc(var(--default_row_length) / 2), 1fr);
    grid-template-rows: minmax(30px, var(--nav_height)) minmax(240px, 80vh) minmax(calc( var(--default_font_size) * 1.618 * 1.618), 10vh) minmax(120px, 40vh) minmax(120px, 40vh) minmax(24px, 8vh);
    grid-template-areas: 
    "nav nav"
    "he1 he1"
    "he2 he2"
    "ar1 ar2"
    "ar3 ar3"
    "foo foo"
    ;
}

#hem_wrapper a{
    text-decoration: none;
    color: grey;
}

#hem_wrapper footer{
    grid-area: foo;
    height: 100%;
    width: 100%;
    color: gray;
    overflow: auto;
    margin-top: 2vh;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}

#hem_wrapper footer::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url("../img/wood.jpg");
    filter: brightness(30%);
    background-size: cover;
}

#hem_main_header{
    grid-area: he1;
    display: flex;
    position: relative;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 90%,
      rgb(0,0,0) 100%
    );
}

#hem_main_header::before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(60%);
    background-image: url("../img/mount_fuji.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

#hem_main_header_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 7%;
}

#hem_main_header_title div{
    width: 14rem;
    height: 2px;
    margin-top: 0.2rem;
    background: white;
}

#hem_main_header_title h1{
    color: white;
}

#hem_subheader{
    grid-area: he2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

#hem_subheader::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url("../img/wood.jpg");
    filter: brightness(30%);
    background-size: cover;
}

.hem_background_image{
    position: relative;
    overflow: hidden;
}

.hem_background_image::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    filter: brightness(60%);
    background-size: cover;
    background-position: center;
}

#hem_food{
    grid-area: ar1;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 70%,
      rgb(0,0,0) 100%
    );
    overflow: hidden;
}

#hem_food::before{
    background-image: url("../img/udon.jpg");
    transition: all 1s;
}

#hem_food:hover::before{
    transform: scale(1.1);
}

#hem_food article{
    display: flex;
    align-items: end;
    height: 100%;
}

#hem_history{
    grid-area: ar2;
    margin-left: 1px;
    margin-right: 1px;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 70%,
      rgb(0,0,0) 100%
    );
    overflow: hidden;
}

#hem_history::before
{
    background-image: url("../img/Minamoto_no_Yoritomo.jpg");
    transition: all 1s;
}

#hem_history:hover::before{
    transform: scale(1.1);
}

#hem_history article{
    display: flex;
    align-items: end;
    height: 100%;
}

#hem_seasons{
    grid-area: ar3;
    overflow: hidden;
}

#hem_seasons article figure::before{
    transition: all 1s;
}

#hem_seasons:hover article figure::before{
    transform: scale(1.1);
}

#hem_seasons article{
    height: 100%;
}

#hem_seasons article figure img{
    height: 100%;
    width: 100%;
}

#hem_seasons:hover article figure figcaption{
    transform: translateY(-1rem);
}

#hem_spring{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 70%,
      rgb(0,0,0) 100%
    );
}

#hem_spring::before{
    background-image: url("../img/sakura1.jpg");
}

.hem_delsid_rubrik{
    margin: 1rem;
    transition: all 0.5s;
    color: white;
}

.hem_hover_rubrik:hover h3{
    transform: translateY(-1rem);
}

#hem_summer{
    display: none;
}

#hem_summer::before{
    background-image: url("../img/solros.jpg");
}

#hem_autumn{
    display: none;
}

#hem_autumn::before{
    background-image: url("../img/autumn.jpg");
}

#hem_winter{
    display: none;
}

#hem_winter::before{
    background-image: url("../img/winter.jpg");
}



/*#endregion Hem*/



/*#region Mat*/

#food_wrapper{
    display: grid;
    grid-template-columns: minmax(var(--default_row_length), 1fr); 
    grid-template-rows: minmax(30px, var(--nav_height)) minmax(270px, 90vh) minmax(720px, auto);
    grid-template-areas: 
    "nav nav"
    "fhe fhe"
    "sec sec"
    ;
    position: relative;
}

#food_wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(80%);
    background-image: url("../img/udon.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

#food_main_header{
    grid-area: fhe;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 90%,
      rgb(0,0,0, 0.85) 100%
    );
    color: white;
}

#food_section{
    grid-area: sec;
    background: rgb(0,0,0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#food_section header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
}

#food_section header div{
    background: white;
    width: 10rem;
    height: 2px;
}

#food_section_wrapper{
    display: flex;
    flex-direction: column;
}

.food_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    height: 82vh;
    overflow-y: auto;
    font-size: var(--default_font_size); 
}

.food_article img{
    height: auto;
    width: calc(var(--default_row_length) - 20px); 
    margin-bottom: 1rem;
    border-radius: 5px;
}

.food_article section p{
    width: var(--default_row_length); 
    margin-bottom: var(--default_font_size); 
}

.food_article section a{
    color: lightskyblue;
}

.food_article section div{
    width: 4rem;
    height: 2px;
    background: white;
    margin-bottom: 0.5rem;
}

/*#endregion Mat*/



/*#region Historia*/

#history_wrapper{
    display: grid;
    grid-template-columns: minmax(var(--default_row_length), 1fr); 
    grid-template-rows: minmax(30px, var(--nav_height)) minmax(270px, 90vh) minmax(calc( var(--default_font_size) * 1.618 * 1.618 * 1.618 + 1rem + 2px), 20vh) minmax(135px, 45vh) minmax(440px, 90vh) minmax(770px, 130vh) minmax(430px, 90vh) minmax(135px, 45vh) minmax(640px, 130vh);
    grid-template-areas: 
    "nav"
    "mhe"
    "hhe"
    "fi1"
    "for"
    "med"
    "edo"
    "fi3"
    "imp"
    ;
    position: relative;
    color: white;
}

#history_wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(60%);
    background-image: url("../img/bakgrund_slott.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

#history_wrapper .main_header{
    grid-area: mhe;
    position: relative;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 90%,
      rgb(0,0,0,0.75) 100%
    );
}

#history_wrapper .main_header::before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(50%);
    background-image: url("../img/karta.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

#history_header{
    grid-area: hhe;
    background: rgb(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#history_header div{
    height: 2px;
    width: 8rem;
    background: white;
    margin-bottom: 1rem;
}

.history_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background: rgb(0, 0, 0, 0.75);
    font-size: var(--default_font_size); 
}

.history_article p{
    margin-bottom: var(--default_font_size); 
    width: var(--default_row_length); 
}

.history_article a{
    color: lightskyblue;
}

.history_article_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history_article_underline{
    height: 2px;
    width: 5rem;
    background: white;
    margin-bottom: 1rem;
}

.history_in_article_img{
    width: auto; 
    height: 40vh;
    margin: var(--default_font_size);
}

.history_img{
    background: rgb(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.history_img img{
    max-width: var(--default_row_length); 
    max-height: 45vh;
}

#forntid{
    grid-area: for;  
}

#forntid_image{
    grid-area: fi1;
    overflow: hidden;
}

#forntid_image img{
    max-height: none;
    margin-top: auto;    
}

#medeltid{
    grid-area: med;   
}

#medeltid_image{
    display: none;
}

#edoperiod{
    grid-area: edo;   
}

#edoperiod_image{
    grid-area: fi3;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

#edoperiod_image img{
    max-height: none;
}

#history_wave_img{
    display: none;
}

#imperisk_era{
    grid-area: imp;   
}

#imperisk_era_image{
    display: none;
}

/*#endregion Historia*/



/*#region Årstider*/

#seasons_wrapper{
    --seasons_section_height: 440vh;

    display: grid;
    grid-template-columns: minmax(var(--default_row_length), 1fr);
    grid-template-rows: minmax(30px, var(--nav_height)) minmax(380px ,90vh) minmax(1320px, var(--seasons_section_height));
    grid-template-areas: 
    "nav nav"
    "she she"
    "sec sec"
    ;
    color: white;
}

#seasons_header{
    grid-area: she;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(
      rgba(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0) 8%,
      rgba(0, 0, 0, 0) 90%,
      rgb(0,0,0,0.75) 100%
    );
}

#seasons_header_background {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "spr sum"
    "aut win"
    ;
    overflow: hidden;
    filter: brightness(50%);
    position: fixed;
    z-index: -1;
}

#seasons_header_background figure{
    overflow: hidden;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
}

#seasons_header_background img{
    height: 100%;
}

#seasons_header_spring_img{
    grid-area: spr;
}

#seasons_header_summer_img{
    grid-area: sum;
}

#seasons_header_autumn_img{
    grid-area: aut;
}

#seasons_header_winter_img{
    grid-area: win;
}

#seasons_header_title{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seasons_underline{
    height: 2px;
    width: 10rem;
    background: white;
}

#seasons_header_icon{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#seasons_section{
    grid-area: sec;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(0, 0, 0, 0.75);
    position: relative;
}

#seasons_section::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(70%);
    background-image: url("../img/torii.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
}

.seasons_article{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seasons_article p{
    width: var(--default_row_length);
    margin-bottom: var(--default_font_size);
    font-size: var(--default_font_size);
}

.seasons_article a{
    color: lightskyblue;
}

.seasons_article ul{
    width: var(--default_row_length);  
    margin-bottom: var(--default_font_size);
    font-size: var(--default_font_size); 
    list-style-position: inside;
}

.seasons_article h3{
    margin-bottom: var(--default_font_size);
}

.seasons_article header{
    height: 45vh;
    min-height: 150px;
    width: var(--default_row_length);
    display: flex;
    align-items: end;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    color: black;
}

.seasons_article header div{
    width: 60%;
    height: 15%;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#spring header{
    background-image: url("../img/sakura_temple.jpg");
}

#spring header div{
    background: lightgreen;
}

#summer header{
    background-image: url("../img/festival.jpg");
}

#summer header div{
    background: lightyellow;
}

#autumn header{
    background-image: url("../img/autumn2.jpg");
}

#autumn header div{
    background: rgb(255,190,109)
}

#winter header{
    background-image: url("../img/onsen.jpg");
}

#winter header div{
    background: white;
}

/*#endregion Årstider*/



@media screen and (min-width: 800px)
{
    /*#region Generellt*/

    body{
        max-width: 100%;
        overflow-x: hidden;
    }

    nav{
        min-height: 45px;
    }

    #nav_links{
        height: 100%;
        transition: all 0s;
        top: 0;
        background: none;
        flex-direction: row;
    }

    .nav-active{
        transform: translateY(0);
    }

    #hamburger_menu{
        display: none;
    }

    /*#endregion Generellt*/

    /*#region Hem*/

    #hem_wrapper{
        grid-template-columns: minmax(calc(var(--default_row_length) * 0.33), 1fr) minmax(calc(var(--default_row_length) * 0.33), 1fr) minmax(calc(var(--default_row_length) * 0.34), 1fr);
        grid-template-rows: minmax(45px, var(--nav_height)) minmax(240px, 80vh) minmax(calc( var(--default_font_size) * 1.618 * 1.618), 10vh) minmax(240px, 80vh) minmax(24px, 8vh);
        grid-template-areas: 
        "nav nav nav"
        "he1 he1 he1"
        "he2 he2 he2"
        "ar1 ar2 ar3"
        "foo foo foo"
        ;
        
    }

    #hem_seasons article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "sp su"
        "au wi"
        ;
        background-image: linear-gradient(
        rgba(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.0) 8%,
        rgba(0, 0, 0, 0) 70%,
        rgb(0,0,0) 100%
        );
    }

    #hem_spring{
        grid-area: sp;
        background-image: none;
    }

    #hem_spring figcaption{
        display: none;
    }
    
    #hem_summer{
        grid-area: su;    
        display: initial;   
        position: relative;
    }
    
    #hem_autumn{
        grid-area: au;     
        display: initial; 
        display: flex;
        align-items: end;  
    }
    
    #hem_winter{
        grid-area: wi;
        display: initial;
    }

    /*#endregion Hem*/

    /*#region Mat*/

    #food_wrapper{
        grid-template-rows: minmax(45px, var(--nav_height)) minmax(270px, 90vh) minmax(222px, auto);
    }

    .food_article{
        min-height: 222px;
    }

    #food_section_wrapper{
        flex-direction: row;
        flex-flow: row wrap;
    }

    /*#endregion Mat*/

    /*#region Historia*/

    #history_wrapper{
        grid-template-columns: minmax(calc(var(--default_row_length) / 2), 1fr) minmax(calc(var(--default_row_length) / 2), 1fr);
        grid-template-rows: minmax(45px, var(--nav_height)) minmax(270px, 90vh) minmax(calc( var(--default_font_size) * 1.618 * 1.618 * 1.618 + 1rem + 2px), 20vh) minmax(135px, 45vh) minmax(220px, 45vh) minmax(510px, 90vh) minmax(270px, 45vh) minmax(135px, 45vh) minmax(450px, 90vh);
        grid-template-areas: 
        "nav nav"
        "mhe mhe"
        "hhe hhe"
        "fi1 fi1"
        "for for"
        "med fi2"
        "edo edo"
        "fi3 fi3"
        "fi4 imp"
        ;
    }

    #forntid{
        flex-direction: row;
        justify-content: space-evenly;
    }

    #edoperiod{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .history_in_article_img{
        display: none;
    }

    #medeltid_image{
        grid-area: fi2;
        display: initial;
        display: flex;
    }

    #medeltid_image img{
        max-height: 90vh;
    }

    #history_wave_img{
        display: initial;
        max-width: 450px; 
    }
    
    #imperisk_era_image{
        grid-area: fi4;
        display: initial;
        display: flex;
    }

    #imperisk_era_image img{
        max-height: 90vh;
    }

    /*#endregion Historia*/

    /*#region Årstider*/

    #seasons_wrapper{
        grid-template-rows: minmax(45px, var(--nav_height)) minmax(270px, 90vh) calc(var(--seasons_section_height) - 40vh);
    }

    #seasons_header_background {
        display: flex;
    }

    #seasons_header_icon h2{
        background: rgba(0, 0, 0, 0.6);
        border-radius: 7px;
    }

    .seasons_article header{
        width: calc(var(--default_row_length) * 2);
    }

    .seasons_article header div{
        width: 40%;
    }

    .seasons_article section{
        display: flex;
        width: 100%;
        --seasons_article_p_margin: 0.9375rem;
    }

    .seasons_left_paragraph{
        margin-right: var(--seasons_article_p_margin);
        width: calc(var(--default_row_length) - var(--seasons_article_p_margin));   
    }

    .seasons_left_paragraph p{
        width: calc(var(--default_row_length) - var(--seasons_article_p_margin));   
    }

    .seasons_right_paragraph{
        margin-left: var(--seasons_article_p_margin);
        width: calc(var(--default_row_length) - var(--seasons_article_p_margin));   
    }

    .seasons_right_paragraph p, .seasons_right_paragraph ul{
        width: calc(var(--default_row_length) - var(--seasons_article_p_margin));   
    }

    /*#endregion Årstider*/
}