/*#region Generellt*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    grid-area: nav;
    background: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#nav_links{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#nav_links li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav_links li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.nav_link_underline{
    background: white;
    height: 2px;
    width: 5rem;
}


/*#endregion Generellt*/



/*#region Hem*/

#hem_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 2fr 2fr;
    grid-template-areas: 
    "nav nav"
    "he1 he1"
    "he2 he2"
    "ar1 ar2"
    "ar3 ar3"
    ;

    height: 100vh;
}

#hem_main_header{
    grid-area: he1;
    background: lightblue;
    display: flex;
    align-items: center;
}

#hem_main_header h1{
    margin-left: 7%;
}

#hem_subheader{
    grid-area: he2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: lightpink;
}

#hem_food{
    grid-area: ar1;
    background: lightyellow;
    display: flex;
    align-items: end;
}

#hem_history{
    grid-area: ar2;
    background: lightgray;
    display: flex;
    align-items: end;
}

#hem_seasons{
    grid-area: ar3;

}

#hem_spring{
    background: greenyellow;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
}

.hem_delsid_h3{
    margin: 10px;
    transition: all 0.5s;
}

.hem_hover_rubrik:hover h3{
    transform: translateY(-10px);
}

#hem_seasons:hover figure h3{
    transform: translateY(-10px);
}

#hem_summer{
    background: yellow;
    display: none;
}

#hem_autumn{
    background: orange;
    display: none;
}

#hem_winter{
    background: lightblue;
    display: none;
}

/*#endregion Hem*/



/*#region Mat*/


/*#endregion Mat*/



/*#region Historia*/


/*#endregion Historia*/


/*#region Årstider*/


/*#endregion Årstider*/

@media screen and (min-width: 800px)
{
    /*#region Generellt*/


    /*#endregion Generellt*/

    /*#region Hem*/

    #hem_seasons{
        grid-area: ar3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "sp su"
        "au wi"
        ;
    }

    #hem_spring{
        grid-area: sp;
    }

    #hem_spring h3{
        display: none;
    }
    
    #hem_summer{
        grid-area: su;    
        display: initial;   
    }
    
    #hem_autumn{
        grid-area: au;     
        display: initial; 
        display: flex;
        align-items: end;  
    }
    
    #hem_winter{
        grid-area: wi;
        display: initial;
    }

    /*#endregion Hem*/

    /*#region Mat*/


    /*#endregion Mat*/

    /*#region Historia*/


    /*#endregion Historia*/

    /*#region Årstider*/


    /*#endregion Årstider*/
}